APP_NAME="Nexus Commerce API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nexus_commerce
DB_USERNAME=nexus_user
DB_PASSWORD=

# Cache & Session
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

# Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost:3000
SESSION_DOMAIN=localhost

# GCP
GCP_PROJECT_ID=
GCP_STORAGE_BUCKET=
GCP_STORAGE_PATH_PREFIX=products

# Mail (local testing)
MAIL_MAILER=log

# JWT / Security
JWT_SECRET=